.card{
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 3px red solid;
    align-content: center;
    margin: 0 auto;
}

.card-header{
    height: 30%;
    background: #5d6770;
    color: white;
    text-align: center;
}

.card-header p{
    font-size: 20px;
}

.container{
    padding: 4px 16px;
}

.dataTable{
    height: 600px;
    width: 300%;
}

button{
    margin-left: 100px;
}

#to{
    width: 10%;
    height: 20px;
    width: 150px;
    box-sizing: border-box;
    margin-left: 10px;
}

#from{
    width: 10%;
    height: 20px;
    width: 150px;
    box-sizing: border-box;
    margin-left: 10px;
    
}